SECRET_KEY=

NAME=
USER=
PASSWORD=
HOST=
PORT=

JWT_ACCESS_LIFETIME_MINUTES=
JWT_REFRESH_LIFETIME_DAYS=

TELEGRAM_BOT_TOKEN=

DJANGO_SETTINGS_MODULE=

REDIS_HOST=
REDIS_PORT=
REDIS_BROKER_DB=
REDIS_RESULT_DB=

EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=
EMAIL_USE_SSL=